<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Property</title>
</head>

<body class="container" style="background-color: #f8f9fa">

<h2 class="py-5 text-center">Property Controller</h2>

<form method="post" th:action="@{/property/add}" th:object="${input}" class="col mb-5"> <!--todo add-->

    <div class="form-group">
        <label for="name">Имя</label>
        <input id="name" placeholder="Property Name" required type="text" th:field="*{name}"
               class="form-control"/>
    </div>

    <div class="row">
        <div class="form-group col-md align-items-start flex-column">
            <label for="numberOfRoomns">Количество комнат</label>
            <input id="numberOfRoomns" placeholder="Number of rooms" required type="number" th:field="*{numberOfRooms}"
                   class="form-control"/>
        </div>
        <div class="form-group col-md align-items-start flex-column">
            <label for="capacity">Вместимость</label>
            <input id="capacity" placeholder="Capacity" required type="number" th:field="*{capacity}"
                   class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md align-items-start flex-column">
            <label for="address">Адрес</label>
            <input id="address" placeholder="Address" required type="text" th:field="*{address}"
                   class="form-control"/>
        </div>
        <div class="form-group col-md align-items-start flex-column">
            <label for="City">Город</label>
            <select id="City" required  th:field="*{cityId}" class="form-control ">
                <option value="" hidden>Select city</option>
                <option th:each="c : ${cities}"
                        th:value="${c.value}"
                        th:text="${c.key}">
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md align-items-start flex-column">
            <label for="typeOfFood">Тип питания</label>
            <select id="typeOfFood" required  th:field="*{typeOfFoodId}" class="form-control ">
                <option value="" hidden>Select type of food</option>
                <option th:each="p : ${typesOfFood}"
                        th:value="${p.value}"
                        th:text="${p.key}">
                </option>
            </select>
        </div>

        <div class="form-group col-md align-items-start flex-column">
            <label for="propertyType">Тип жилья</label>
            <select id="propertyType" required  th:field="*{propertyTypeId}" class="form-control ">
                <option value="" hidden>Select property type</option>
                <option th:each="pt : ${propertyTypes}"
                        th:value="${pt.value}"
                        th:text="${pt.key}">
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="owner">Владелец</label>
        <select id="owner" required  th:field="*{ownerId}" class="form-control ">
            <option value="" hidden>Select owner</option>
            <option th:each="o : ${owners}"
                    th:value="${o.value}"
                    th:text="${o.key}">
            </option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary mt-3" value="Add Property">

</form>

<table class="table table-hover mb-2">
    <tr>
        <th>Имя</th>
        <th>Адрес</th>
        <th>Количество комнат</th>
        <th>Вместимость</th>
        <th>Город</th>
        <th>Тип питания</th>
        <th>Владелец</th>
        <th>Тип жилья</th>
        <th>Удалить</th>
    </tr>
    <tr th:if="${#lists.isEmpty(properties)}">
        <td colspan="9">No Records found. Add some...!</td>
    </tr>
    <tr th:each="property : ${properties}">
        <td th:text="${property.name}"></td>
        <td th:text="${property.address}"></td>
        <td th:text="${property.numberOfRooms}"></td>
        <td th:text="${property.capacity}"></td>
        <td th:text="${property.city}"></td>
        <td th:text="${property.typeOfFood}"></td>
        <td th:text="${property.owner}"></td>
        <td th:text="${property.propertyType}"></td>
        <td>
            <form th:if="${#lists.size(properties) > 0}" th:action="@{/property/delete/{id}(id=${property.id})}" method="post">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
