<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Property</title>
</head>

<body class="container">

<h1 class="py-5">Property Controller</h1>

<form method="post" th:action="@{/property/}" th:object="${propertyDTO}" class="col card p-3 mb-5"> <!--todo add-->
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" placeholder="Property Name" required type="text" th:field="*{name}"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input id="address" placeholder="Address" required type="text" th:field="*{address}"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="numberOfRoomns">Number of rooms</label>
        <input id="numberOfRoomns" placeholder="Number of rooms" required type="number" th:field="*{numberOfRooms}"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="capacity">Capacity</label>
        <input id="capacity" placeholder="Capacity" required type="number" th:field="*{capacity}"
               class="form-control"/>
    </div>
<!--    <div class="form-group">-->
<!--        <label for="typeOfFood">Role</label>-->
<!--        <select id="typeOfFood" required th:field="*{typeOfFood}" class="form-control ">-->
<!--            <option value="" hidden>Select a type of food</option>-->
<!--            <option th:each="role : ${}"-->
<!--                    th:value="${typeOfFood}"-->
<!--                    th:text="${typeOfFood}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->
    <input type="submit" class="btn btn-primary" value="Create User">
</form>

<!--<table class="table table-striped table-bordered">-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>First Name</th>-->
<!--        <th>Last Name</th>-->
<!--        <th>Role</th>-->
<!--        <th>Created At</th>-->
<!--    </tr>-->
<!--    <tr th:if="${#lists.isEmpty(users)}">-->
<!--        <td colspan="5">No Records found. Add some...!</td>-->
<!--    </tr>-->
<!--    <tr th:each="user : ${users}">-->
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.firstName}"></td>-->
<!--        <td th:text="${user.lastName}"></td>-->
<!--        <td th:text="${user.role}"></td>-->
<!--        <td th:text="${user.createdAt}"></td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>
